SIGNING_DOMAIN=sign.rootlens.io
POSTGRES_USER=documenso
POSTGRES_PASSWORD=replace-with-64-character-hex-value
POSTGRES_DB=documenso
NEXTAUTH_SECRET=replace-with-at-least-32-random-characters
NEXT_PRIVATE_ENCRYPTION_KEY=replace-with-at-least-32-random-characters
NEXT_PRIVATE_ENCRYPTION_SECONDARY_KEY=replace-with-at-least-32-random-characters
NEXT_PRIVATE_SIGNING_PASSPHRASE=replace-with-at-least-32-random-characters
NEXT_PRIVATE_SMTP_HOST=smtp.example.com
NEXT_PRIVATE_SMTP_PORT=587
NEXT_PRIVATE_SMTP_USERNAME=replace-with-smtp-user
NEXT_PRIVATE_SMTP_PASSWORD=replace-with-smtp-password
NEXT_PRIVATE_SMTP_SECURE=false
NEXT_PRIVATE_SMTP_FROM_ADDRESS=contact@rootlens.io
NEXT_PUBLIC_DISABLE_SIGNUP=false
